PyQt5~=5.15.9
numpy~=1.24.1
matplotlib~=3.7.1

--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.0.0+cu118
--find-links https://download.pytorch.org/whl/torch_stable.html
torchaudio==2.0.1+cu118
--find-links https://download.pytorch.org/whl/torch_stable.html
torchvision==0.15.1+cu118
